* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #b583c1;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card h2, h3 {
  color: rgb(88, 138, 183);
  font-size: 22px;
}

#info {
  padding-right: 50px;
  padding-left: 30px; 

}

#info li{
  font-size:20; 
  font-weight:bold;
  color: #ba78de;
  font-size: 20px;
} 

#info p {
  color: #474545;
  font-size: 16 px;
}

#importante p{
  color: #474545;
  text-align: justify;
  padding: 20px;
}

#importante p[data-articulo]::before {
  content: "ARTÍCULO " attr(data-articulo) ".";  /* Obtiene el número del atributo */
  background-color: aqua;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 6px;
}

#requisitos{
  color: #474545;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applies {
  color: rgb(230, 137, 137); 
  font-style: italic;
  margin-right: 15px;
}

.delivery-time {
  color: #646262;
  font-size: 14px;
}

