/*Autores: Georgina Salcido Valenzuela, Ana Laura Chenoweth Galaz y Denisse Gabriela Antunez López*/
* {
  box-sizing: border-box;
}

/*Cambia el color y el aspecto del body de la página html*/
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Cambia el aspecto del encabezado de la página */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

/*Cambia el tamaño de los encabezados tipo h1*/
.header h1 {
  font-size: 50px;
}

/* Cambia el color y estilo de la barra de navegación */
.topnav {
  overflow: hidden;
  background-color: #b583c1;
}

/* Cambia la apariencia de los links de la navegación */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Cambia el color de la navegación al poner el cursor encima */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Crear dos columnas una al lado de otra */
/* Columna izquierda */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Columna derecha */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
}

/*Imagen falsa*/
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Efecto carta */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/*Cambia el color by tamaño de los titulos de la carta*/
.card h2, h3 {
  color: rgb(88, 138, 183);
  font-size: 22px;
}

/*Pone elementos después de los h2*/
.card h2::after {
  content: " 🔹";
  color: #b583c1;
  font-size: 18px;
  margin-left: 8px;
}

/*Pone elementos antes de los h2*/
.card h2::before {
  content: "🔹 ";
  font-size: 18px;
  margin-right: 8px;
}

/*Agrega espaciado interno de 50px a la derecha y 30px a la izquierda.*/
#info {
  padding-right: 50px;
  padding-left: 30px; 

}

/*Define los estilos de los elementos de lista dentro de #info*/
#info li{
  font-size:20; 
  font-weight:bold;
  color: #ba78de;
  font-size: 20px;
} 

/*Define el estilo de los párrafos dentro de info*/
#info p {
  color: #474545;
  font-size: 16px;
}

/*Define el estilo de los párrafos dentro de importante*/
#importante p{
  color: #474545;
  text-align: justify;
  padding: 20px;
}

/* Agrega un prefijo antes de los párrafos que tienen el atributo data-articulo*/
#importante p[data-articulo]::before {
  content: "ARTÍCULO " attr(data-articulo) ".";  /* Obtiene el número del atributo */
  background-color: aqua;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 6px;
}

/*Aplica color gris al texto dentro de requisitos*/
#requisitos{
  color: #474545;
}

/* Soluciona problemas de elementos flotantes */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Estilo del pié de página */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Hace al laylout responsivo */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Hace al layout responsivo */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/*Estilo de alinear elementos*/
.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Clase que define un color, tipo de letra y márgen derecho*/
.applies {
  color: rgb(230, 137, 137); 
  font-style: italic;
  margin-right: 15px;
}

/*Clase que define u n color y un tipo de letra*/
.delivery-time {
  color: #646262;
  font-size: 14px;
}

